@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");



/* styles/globals.css */
/* @import 'swiper/swiper.min.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* mx-5 my-5 */
  padding: 0;
  box-sizing: border-box;
  margin-left: 5px;
}

@layer components {
  .btnPink {
    @apply bg-pink  text-white rounded-md hover:bg-hover-pink focus:outline-none w-48 h-8;
  }
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

/* .paddings {
  @apply lg:px-20 py-6 px-5;
} */

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

.no-result-text {
  @apply w-full text-center my-10 px-2;
}
